
.nav-cus {
  display: flex;
  overflow: hidden;
  justify-content: space-around;
  background: #fff;
}

.nav-cus .nav-cus-brand {
  width: 50%;
  background: var(--color-bg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-cus .nav-cus-brand p {
  color: white;
}

.nav-cus a {
  float: left;
  display: block;
  color: var(--color-bg);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav-cus a:hover {
  background-color: var(--color-bg);
  color: black;
}

.nav-cus .icon {
  display: none;
}


/*
.nav-custom {
  height: var(--nav-height);
  width: 100%;
  background-color: rgb(255, 255, 255);
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  margin: 0;
  padding: 0;
  border-bottom: 3px solid var(--color-bg);
}

.nav-custom-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-label);
  color: white;
  background: var(--color-bg);
  font-size: 25px;
  height: var(--nav-height);
  width: 30%;
  margin: 0;
  padding: 0;
}

.nav-menu {
  width: 50%;
  height: var(--nav-height);
  display: flex;
  align-items: center;
}

.nav-menu .list-menu {
  margin: 0 40px;
}

.nav-account {
  color: rgb(150, 117, 46);
  margin-right: 2rem;
}

.nav-account i {
  font-size: 30px;
}

.nav-menu .list-menu a {
  color: black;
  text-decoration: none;
} */
